/* 
    Document   : map
    Created on : 10 déc. 2013, 21:17:55
    Author     : Harold TAMO    Description:
        Purpose of the stylesheet follows.
*/

.map{
    width: 291px;
    height: 411px;
    background: url('images/map.png');
    position: relative;    
}
.map .overlay{
    width: 291px;
    height: 411px;
    background: url('images/map.png') 291px;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.map img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;    
}

